body{
  border: 20px grey solid;
  margin: 20px auto;
  max-width: 700px;
  width: 80%;
  padding: 20px;
}

h1{
  color: blue;
  /* margin: 20px 20px; */
  font-size: 2.0rem;
}

h2{
  color: lightblue;
  /* margin: 20px 20px;  we dont need cause we control everything from the body*/
  letter-spacing: 0.2rem;
}

/* #special{
  border-top: solid #f1f1f1 2px;
  padding-top: 20px;
} */

hr {height: 1px;
    background-color: lightgrey;
    border:none
}

/* p{
  margin: 10px 20px;
} */

.bacon{
  border-left: 4px solid grey;
  padding-left: 3px;
}
